<h1>Mobiler: <%= @conf %>のエラー</h1>
<p>　「<%= @conf %>」の設定保存に失敗しました。パラメタの指定に間違いがないかどうか確認してください。個々のパラメタは'〜'で囲まないといけません。また、いくつかのフィルタは、パラメタの個数が偶数でなければならない等の制限があります。</p>

<pre>
エラーメッセージ:
<%= @error %>
</pre>
