<hr />

<a href="http://www.spc.gr.jp/mobiler/">Mobiler</a> <%= MOBILER_VERSION %>
<address><a href="http://www.spc.gr.jp/sho/">ただただし</a>＠<a href="http://www.spc.gr.jp/">S.P.C.</a></address>
</body>
</html>

